/* @import '@fontsource/fira-mono'; */
* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background: #3d3c42;
	text-transform: uppercase;
	font-family: none;
	color: #40514e;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather';
}
html {
	scroll-behavior: smooth;

	position: relative;
	width: 100%;
	height: 100%;
}

/* html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
} */

body {
	background: #3d3c42;
	text-transform: uppercase;
	font-family: none;
	color: #40514e;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather';
}

h1 {
	color: #7f5283;
	font-size: 2.625rem;
	margin: 50px auto 0 auto;
	margin: 0 auto;
}

h2 {
	color: #fefbf6;
}

h3 {
	margin: 50px auto 0 auto;
}

p {
	color: #a6d1e6;
}

.top {
	margin: 0 auto;
	background-color: #fefbf6;
	position: initial;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
}

.cv a {
	margin: 10px 100px;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	background: #a6d1e6;
	border-radius: 5px;
	border: 2px solid black;
	font-size: 12px;
}

.profile {
	color: #fefbf6;
}

.profile_pic {
	display: block;
	max-width: 15%;
	height: 50%;
}

.profile p {
	margin-top: 2em;
}

.circle_pic {
	margin: auto;
	border-radius: 50%;
}

ul li {
	margin: 5px;
}

.skills {
	width: 500px;
	margin: 60px auto;
	color: #fff;
	padding: 20px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.skills li {
	margin: 20px 0;
	padding: 10px;
}

.bar {
	background: #353b48;
	display: block;
	height: 20px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.bar:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bar span {
	height: 20px;
	float: left;
	background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
}

.python {
	width: 90%;
	animation: python 3s;
}

.java {
	width: 90%;
	animation: java 3s;
}

.cpp {
	width: 50%;
	animation: cpp 3s;
}

.matlab {
	width: 70%;
	animation: matlab 3s;
}

@keyframes python {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

@keyframes java {
	0% {
		width: 0%;
	}
	100% {
		width: 90%;
	}
}

@keyframes cpp {
	0% {
		width: 0%;
	}
	100% {
		width: 50%;
	}
}

@keyframes matlab {
	0% {
		width: 0%;
	}
	100% {
		width: 70%;
	}
}

.projects {
	margin: 20px;
	color: #fefbf6;
}

.projects a {
	color: #fefbf6;
}

.project-row {
	padding: 10px;
	font-family: serif;
	width: 50%;
	text-align: left;
}

.contact {
	margin: 20px;
	display: flex;
	width: 100%;
	max-width: 1200px;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
	cursor: pointer;
}

.card {
	background: #2f3542;
	padding: 0 20px;
	margin: 0 10px;
	width: calc(33% - 20px);
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-icon {
	font-size: 28px;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px !important;
	border-radius: 50%;
	transition: 0.3s linear;
}

.card:hover .card-icon {
	background: none;
	transform: scale(1.6);
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

nav {
	background-color: #fefbf6;
}

div.navBar {
	color: #fefbf6;
	position: fixed;
	display: flex;
	top: -0.5em;
	/* justify-content: space-between; */
	align-items: center;
	background-color: #7f5283;

	height: 75px;
	width: 130%;
	font-size: large;
	font: bold 20px/30px Helvetica;
	/* left: -2em; */
}

.logo {
	display: inline-block;
	position: relative;
	right: 18em;
	top: 0.01em;
	color: #fefbf6;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

.nav-link {
	color: #fefbf6;
	display: block;
	position: relative;
	left: 34em;
	/* position:absolute; */
	justify-content: space-between;
	margin-left: 2em;
	padding: 0;
}

.api-dog {
	display: block;
	background-color: #fefbf6;
	/* margin: 0 auto; */
	height: 35em;
	margin-top: -2em;
	/* position:initial; */
}

#rand {
	display: block;
	background-color: #fefbf6;
	padding-top: 8em;
}

.api-dog-img {
	/* margin-top: ; */
	display: block;
	position: top;
	top: 10em;
	margin-left: auto;
	margin-right: auto;
	/* position: inherit; */
	/* z-index: 7; */
	border-radius: 1em;
	/* margin-top: 6em; */
	border: 1px solid rgba(78, 78, 100, 0.736);
	width: 300px;
	height: 300px;
}

#btn-dog {
	top: 1em;
	margin: 0 auto;
	position: relative;
	display: flex;
	color: #fff;
	background-color: #2f3542;

	padding: 15px 25px;
	font-size: 24px;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}
#btn-dog:hover {
	background-color: #7f5283;
}

#btn-dog:active {
	background-color: #7f5283;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}
